#div1{
    background-image: url(../../img/【4K\ UHD】your\ name你的名字3840x2160壁纸_彼岸图网.jpg);
    background-size: cover;
    background-attachment: fixed;  
    color: rgb(0, 255, 30)
}
#divleft{
    width: 600px;
    height:150px;
    float: left;
}
#divright{
    margin-left: 100px;
    width: 150px;
    height:150px;
    float: left;
}